<div class="tab-view">
  <p-tabView orientation="top" activeIndex="0" #tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="輸入">
      <app-keyin [record]="selectedRecord"></app-keyin>
    </p-tabPanel>
    <p-tabPanel header="記錄">
      <app-list (onRecordSelect)="onRecordSelect($event)" [showList]="showList"></app-list>
    </p-tabPanel>
    <p-tabPanel header="分類">
      <app-category></app-category>
    </p-tabPanel>
    <p-tabPanel header="統計">
      統計
    </p-tabPanel>
  </p-tabView>
</div>